{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Odette Kuehn</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
        <h1>Odette Kuehn</h1>
        <div>
            <img id = "profile-pic" src  = "{% static 'css/Headshot_odk.jpg' %}" alt = "Odette Kuehn"/>
        </div>
        <div class = "contact">
            <p>988 Decatur St Apt. 2, Brooklyn, NY 11207 | (718) 757-1386 | odkuehn@outlook.com</p>
        </div>
        <div>
            <div class = "container">
                <div class = "column">
                    <h2><u>TECHNICAL SKILLS</u></h2>
                    <p><strong>Programming Languages: </strong>
                    C++, Python, Java, MATLAB, HTML, CSS</p>
                    <p><strong>Technical Skills:</strong>Algorithms, Object-Oriented Programming,
                    NumPy, Pandas, Matplotlib, Git, Linux, Data Structures, Figma, Microsoft Excel, Catia, SolidWorks, 
                    LabView, Drafting, Technical Writing, Data Analysis</p>
                </div>
                <div class  = "column">
                    <h2><u>COURSEWORK</u></h2>
                    <p>Design and Analysis of Algorithms, Machine Learning, Data Science, Information Visualization,
                    Human Computer Interaction, Linear Algebra, Java, Differential Equations, Control Systems, Thermodynamics, Fluid Mechanics
                    </p>
                </div>
            </div>
            <hr></hr>
            <h2><u>EDUCATION</u></h2>
            <div>
                <h3><strong>New York University</strong>, Brooklyn, NY</h3>
                <p>Master of Science in Computer Science<span style = "float:right;">anticipated May 2025</span></p>
                </div>
                <p><em>GPA:</em> 3.89</p>
            </div>
            <hr></hr>
            <div>
                <h3><strong>Purdue University</strong>, West Lafayette, IN</h3>
                <p>Bachelor of Science in Mechanical Engineering &amp Minor in Environmental and Ecological Engineering <span style = "float:right;"> Aug. 2017 - May 2021</span></p>
                <p><em>GPA:</em>  3.36</p>
            </div>
        </div>
        <div>
            <h2><u>EXPERIENCE</u></h2>
            <div>
              <h3><strong>Information, Security and Privacy Course</strong>, Brooklyn, NY</h3>
              <p><em>Course Assistant</em> <span style = "float:right;">Sep. 2024 – Present</span></p>
              <li>
                Assist in instruction for the graduate level course focusing on topics such as authentication models, access control mechanisms, and operating system security
              </li>
              <li>
                Edit, organize, and update course instruction material including lecture slides and readings
              </li>
              <li>
                Conduct office hours to answer student’s questions regarding course material and homework assignments
              </li>
              <li>
                Grade assignments and exams throughout the semester
              </li>
            </div>
            <hr></hr>
            <div>
                <h3><strong>Guidehouse</strong>, Washington, DC</h3>
                <p><em>Engineering Consultant</em> <span style = "float:right;">Sep. 2021 – Aug. 2023</span></p>
                <ul role = "presentation">
                    <li>
                        Advised public sector clients on energy efficiency standards, regulations, and test procedure development
                    </li>
                    <li>
                        Developed market databases and performed engineering analyses in support of the Department of Energy in considering new and amended energy efficiency standards and test procedures  
                    </li>
                    <li>
                        Delivered assessments and recommendations in rulemaking publications and technical support documents through clear and organized writing
                    </li>
                    <li>
                        Spearheaded the development of regulatory energy efficiency standards which were estimated to result in a reduction of 332 million metric tons of carbon dioxide
                    </li>
                </ul>
            </div>
            <hr></hr>
            <div>
                <h3><strong>Star Learning Center</strong>, Manhattan, NY</h3>
                <p><em>Tutor</em> <span style = "float:right;">June 2024 – Aug. 2024</span></p>
                <ul role = "presentation">
                    <li>
                        Provided one-on-one instruction to elementary and secondary school students in mathematics, reading, writing, and science
                    </li>
                </ul>
            </div>
            <hr></hr>
        </div>
        <div>
            <h2><u>ENGINEERING PROJECTS</u></h2>
            <div>
              <h3><strong>User Centered Design Detection of Cellular GPS Trackers, New York University</strong>, Brooklyn, NY</h3>
              <p><em>Research Assistant</em> <span style = "float:right;">May 2024 – Aug. 2024</span></p>
                <ul role = "presentation">
                    <li>Created project schedules, advised on design of experimental methods, revised research papers, and served as a mentor for four undergraduate research assistants </li>
                    <li>
                        Designed the user interface of an application in Figma for detection of cellular GPS trackers in a victim’s vehicle 
                    </li>
                    <li>
                        Drafted and developed key sections of the research paper to compile the work done on the design of the user interface 
                    </li>
                </ul>
            </div>
            
            <div>
                <h3><strong>Virtual Prototype Design of Constructive Interference Inducer, Purdue University, </strong>, West Lafayette, IN</h3>
              <p><em>Team Member</em> <span style = "float:right;">May 2024 – Aug. 2024</span></p>
              <ul role = "presentation">
                <li>Collaborated with classmates on a semester-long senior design project of a constructive interference inducing test rig intended to increase the efficiency of an overtopping wave energy converter</li>
                <li>
                    Designed 3D virtual model of scaled overtopping device elements in SolidWorks
                </li>
                <li>
                    Modeled system controls for test rig using SolidWorks Routing for virtual prototype
                </li>
                <li>
                    Created a MATLAB program to analyze wave data from multiple coastal locations 
                </li>
              </ul>

            </div> 
        </div>         
    </body>
</html>





















